.vs
.utmp
Library/
Temp/
Logs/
obj/
Assets/QFramework/
Assets/QFrameworkData/
Assets/DOTween/
Assets/DOTween.meta
Assets/Packages/
Assets/Packages.meta
Assets/NuGet/
Assets/NuGet.meta
Assets/Resources/DOTweenSettings.asset
Assets/Resources/DOTweenSettings.asset.meta
UserSettings/
UserSettings/Layouts/
ProjectSettings/
*.csproj
*.sln
*.vsconfig

